.title_plateforme{
    background-color: red;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

#switch-icon{
    width: 25px;
    padding-left: 10px;
}

.logo-platform{
    width: 20px;
    padding-left: 10px;
}